section.section.section--callback
	.page__wrapper
		a.callback__phone(href="tel:+74965670259") + 7 496 567-02-59
		span.callback__text или
		button.btn.btn--green(data-toggle="modal", data-target="#modalBackCall") Заказать звонок
include ./modalCallBack.pug