section.section.section--green-grad
	.page__wrapper.constructor__wrapper
		form#constructorForm.form.form--constructor
			.form__body.container
				h6.text-uppercase.font-weight-extra-bold.mb-2(data-group-title=0) Материал
				.row.mb-3
					.col-12.col-sm-7.d-flex.flex-column.mb-2.mb-sm-0
						select#mark.form__control.select2.order-1(data-group=0)
						label.control__label.d-block.mb-0.order-0(for="mark") Марка
					.col-12.col-sm-5.d-flex.flex-column
						select#density.form__control.select2.order-1(data-group=0)
						label.control__label.d-block.mb-0.order-0(for="density") Плотность
				.row
					.col-auto
						.control--custom.control--checkbox
							input#laminating.control__input(type='checkbox', data-group=0)
							label.control__label(for="laminating") Кашировка
					.col-auto
						.control--custom.control--checkbox
							input#metal_cardboard.control__input(type='checkbox', data-group=0)
							label.control__label(for="metal_cardboard") Металлизированный картон
				h6.text-uppercase.font-weight-extra-bold.mb-2(data-group-title=1) Красочность
				.row
					.col-auto
						.control--custom.control--radio
							input#fullcolor.control__input(type='radio', name="colorfulness", checked, data-group=1)
							label.control__label(for="fullcolor") Полноцвет
					.col-auto
						.control--custom.control--radio
							input#pantone.control__input(type='radio', name="colorfulness", data-group=1)
							label.control__label(for="pantone") Pantone
					.col-auto
						.control--custom.control--radio
							input#fullcolor_pantone.control__input(type='radio', name="colorfulness", data-group=1)
							label.control__label(for="fullcolor_pantone") Полноцвет + pantone
				.d-flex.align-items-center.justify-content-between.mb-2
					h6.text-uppercase.font-weight-extra-bold.m-0(data-group-title=2) Количество точек склейки
					.control--custom.control--number.mb-0
						button.btn.btn--minus
						input#glue_points.control__input(type="number", min="1" max="5" value="1", data-group=2)
						.control__replacer(contenteditable="false")
						button.btn.btn--plus
				h6.text-uppercase.font-weight-extra-bold.mb-2(data-group-title=3) Отделка
				.row
					.col-auto
						.control--custom.control--checkbox
							input#embossing.control__input(type='checkbox', data-group=3)
							label.control__label(for="embossing") Тиснение фольгой
					.col-auto
						.control--custom.control--checkbox
							input#congreve.control__input(type='checkbox', checked, data-group=3)
							label.control__label(for="congreve") Конгрев
					.col-auto
						.control--custom.control--checkbox
							input#notch_windows.control__input(type='checkbox', data-group=3)
							label.control__label(for="notch_windows") Вырубные окошки
				h6.text-uppercase.font-weight-extra-bold.mb-2(data-group-title=4) Сплошной лак
				.row
					.col-auto
						.control--custom.control--radio
							input#solid_polish_glossy.control__input(type='radio', name="solid_polish", data-group=4)
							label.control__label(for="solid_polish_glossy") Глянцевый
					.col-auto
						.control--custom.control--radio
							input#solid_polish_matt.control__input(type='radio', name="solid_polish", data-group=4)
							label.control__label(for="solid_polish_matt") Матовый
					.col-auto
						.control--custom.control--radio
							input#solid_polish_no.control__input(type='radio', name="solid_polish", checked, data-group=4)
							label.control__label(for="solid_polish_no") Нет
				h6.text-uppercase.font-weight-extra-bold.mb-2(data-group-title=5) Выборочный лак
				.row
					.col-auto
						.control--custom.control--radio
							input#partial_polish_glossy.control__input(type='radio', name="partial_polish", data-group=5)
							label.control__label(for="partial_polish_glossy") Глянцевый
					.col-auto
						.control--custom.control--radio
							input#partial_polish_matt.control__input(type='radio', name="partial_polish", data-group=5)
							label.control__label(for="partial_polish_matt") Матовый
					.col-auto
						.control--custom.control--radio
							input#partial_polish_no.control__input(type='radio', name="partial_polish", checked, data-group=5)
							label.control__label(for="partial_polish_no") Нет
				h6.text-uppercase.font-weight-extra-bold.mb-2(data-group-title=6) Разработка
				.row
					.col-auto
						.control--custom.control--checkbox
							input#design.control__input(type='checkbox', checked, data-group=6)
							label.control__label(for="design") Дизайн
					.col-auto
						.control--custom.control--checkbox
							input#construction.control__input(type='checkbox', checked, data-group=6)
							label.control__label(for="construction") Конструкция
				h6.text-uppercase.font-weight-extra-bold.mb-2(data-group-title=7) Дополнительно
				.row.mb-3
					.col-12
						textarea#extra.form__control.w-100(name="", rows="3", placeholder="Введите Ваш комментарий", data-group=7)
			.form__footer.container
				.row.no-gutters
					.col
						button#constructor_send.btn.btn--green Отправить запрос
					.col
						button#constructor_save.btn.btn--green Сохранить параметры
					.col
						button#constructor_reset.btn.btn--gray(type="reset") Сброс
		.constructor__preview
			h1.my-0 Конструктор упаковки
			h6.my-0.fs-9.text-uppercase.font-weight-bold Подбирайте параметры онлайн!
			#constructor__canvas.constructor__canvas
				.preloader
					div
					div
					div
					div
				button#stepLeft.btn.btn--prev
				button#stepRight.btn.btn--next
			.constructor__legend
				| Покрутите коробку, чтобы лучше рассмотреть!
include ./modalConstructor.pug