.work_area
	#page-preloader(style='display: none;')
		.sk-folding-cube
			.sk-cube1.sk-cube
			.sk-cube2.sk-cube
			.sk-cube4.sk-cube
			.sk-cube3.sk-cube
	#workarea.wrap(style='opacity: 1;')
		.controls
			// Сами вкладки
			//
				<ul class="tabs">
				<li id="tab_1" class="tab tab_selected" style="padding-top: 10px; height: 26px;">картон
				<li id="tab_2" class="tab" style="padding-top: 3px; height: 33px;">металл.<br>картон
				<li id="tab_3" class="tab" style="padding-top: 3px; height: 33px;"><span>каширован.</span><br>картон
				<li id="tab_4" class="tab" style="padding-top: 10px; height: 26px;">слимовка
				</ul>
			// Содержимое вкладок
			#tab_1_contetnt.tab_content(style='display:block')
				.selects
					#marks_density.content_row
						h4(style='display:block; margin-bottom:10px;') Материал
						h5#brand_head(style='opacity: 1;') марка
						input#brand(type='text', value='Excellent Top', readonly='', style='opacity: 1;')
						span#down_brand.down(style='opacity: 1;')
						ul#drop_brand.dropdown_list(style='')
							li Excellent Top
							li Kromopak-GC2
							li Kromoplex-GC2
							li DELIGHT GLOSS
							li SENATOR C2S Art Board
							li ALASKA PLUS GC2
							li ATELIER GC-1
							li SIMCOTE
							li NINGBO FOLD GC-1
							li BRAVO GC-1
							li ARKTIKA GC-1
							li MAULE RC
							li Avanta prima
							li Zenith (Manila back)
							li TAMBRITE
							li СКБ
							li SVETOCOAT
							li Unicolor-GD3
							li Multicolor Mirabell-GD2
							li Veno Freeze-GD2
							li SERVIBOARD GD-2
							li UMKA COLOR GD-2
							li НЕВА
							li Hansol Paper Co Ltd
							li Ecoprint-GT3
							li Multicolor Belvedere-GT2
							li Topcolor-GT1
							li CONTIBOARD GT-1
						h5#debsity_head(style='opacity: 1;') плотность
						input#density(type='text', value='215 г/м2', readonly='', style='opacity: 1;')
						span#down_density.down(style='opacity: 1;')
						ul#drop_density.dropdown_list(style='')
							li 215 г/м2
							li 230 г/м2
							li 250 г/м2
							li 275 г/м2
							li 300 г/м2
							li 325 г/м2
							li 350 г/м2
							li 375 г/м2
							li 400 г/м2
							li 425 г/м2
							li 450 г/м2
				#material.content_row(onclick='choose()')
					span#kashyr.checkbox
					h5(style='margin-top: -8px;') Кашировка
					span#metall.checkbox
					h5 металлизированный картон
					input#kashyr_input(style='display: none;', value='off')
					input#metall_input(style='display: none;', value='off')
				//
					<div class="content_row" id="beuty" style="margin-bottom: 3px;" onClick=choose()>
					<h4 style="display:block; margin-bottom:10px;">красочность</h4>
					<span class="checkbox checkbox_cheked" id="polnotsvet"></span><h5>полноцвет</h5><span class="checkbox" id="pantone"></span><h5>pantone</h5>
					<input id="polnotsvet_input" style="display: none;" value="on">
					<input id="pantone_input" style="display: none;" value="off">
					</div>
				#beuty.content_row(onclick='choose()')
					h4(style='display:block; margin-bottom:10px;') красочность
					span#polnotsvet.radio_buttom
					h5 полноцвет
					span#pantone.radio_buttom
					h5 pantone
					br
					span#polnotsvet_pantone.radio_buttom.radio_buttom_cheked
					h5 полноцвет + pantone
					input#beuty_input(style='display: none;', value='polnotsvet_pantone')
				.content_row
					h4(style='margin-right: 25px;') количество точек склейки
					span.minus
					input#glue_number(type='text', value='1')
					span.plus
				#trim.content_row(style='margin-bottom: 3px;', onclick='choose()')
					h4(style='display:block; margin-bottom:10px;') отделка
					span#foil.checkbox.checkbox_cheked
					h5 тиснение фольгой
					span#kongrev.checkbox
					h5 конгрев
					span#window.checkbox
					h5 вырубные окошки
					input#foil_input(style='/* display: none; */', value='on')
					input#kongrev_input(style='display: none;', value='off')
					input#window_input(style='display: none;', value='off')
				#solid_laq.content_row(onclick='choose()')
					h4(style='display:block; margin-bottom:10px;') сплошной лак
					span#gloss.radio_buttom(style='opacity: 1;')
					h5(style='opacity: 1;') глянцевый
					span#mat.radio_buttom(style='opacity: 1;')
					h5(style='opacity: 1;') матовый
					span#no_laq.radio_buttom.radio_buttom_cheked(style='opacity: 1;')
					h5(style='opacity: 1;') нет
					input#solid_laq_input(style='display: none;', value='no_laq')
				#form_laq.content_row(onclick='choose()')
					h4(style='display:block; margin-bottom:10px;') выборочный лак
					span#gloss.radio_buttom
					h5 глянцевый
					span#mat.radio_buttom
					h5 матовый
					span#no_laq.radio_buttom.radio_buttom_cheked
					h5 нет
					input#form_laq_input(style='display: none;', value='no_laq')
				#development.content_row(style='margin-bottom: 3px;')
					h4(style='display:block; margin-bottom:10px;') разработка
					span#design.checkbox.checkbox_cheked
					h5 дизайн
					span#construction.checkbox.checkbox_cheked
					h5 конструкция
					input#design_input(style='display: none;', value='on')
					input#construction_input(style='display: none;', value='on')
				#more.content_row(style='margin-bottom: 3px;')
					h4(style='display:block; margin-bottom:10px;') дополнительно
					textarea#additionalinfo(placeholder='Введите Ваш комментарий')
			.bottom_buttoms
				a#send_request.bottom_buttom(href='#order_form') отправить запрос
				a#save_param.bottom_buttom(href='#order_form') сохранить параметры
				input#reset(type='button', value='сброс')
				// <input type="button" value="отправить запрос" id="send_request"><input type="button" value="сохранить параметры" id="save_param"><input type="button" value="сброс" id="reset">
		#order_form.order_form(style='width:585px;')
			#order_table(style='display:inline-block;')
				table#order_form_table(style='max-width:395px; font-size:14px;')
					tbody
						tr
							td.tab_head МАТЕРИАЛ
							td
						tr
							td марка
							td#td_brand
						tr
							td плотность
							td#td_density
						tr
							td кашировка
							td#td_kashyr
						tr
							td металлизированный картон
							td#td_metall
						tr
							td.tab_head КРАСОЧНОСТЬ
							td#td_beuty
						tr
							td.tab_head КОЛИЧЕСТВО ТОЧЕК СКЛЕЙКИ
							td#td_glue_number
						tr
							td.tab_head ОТДЕЛКА
							td
						tr
							td тиснение фольгой
							td#td_foil
						tr
							td конгрев
							td#td_kongrev
						tr
							td вырубные окошки
							td#td_window
						tr
							td.tab_head СПЛОШНОЙ ЛАК
							td#td_solid_laq
						tr
							td.tab_head ВЫБОРОЧНЫЙ ЛАК
							td#td_form_laq
						tr
							td.tab_head РАЗРАБОТКА
							td
						tr
							td дизайн
							td#td_design
						tr
							td конструкция
							td#td_construction
						tr
							td.tab_head ДОПОЛНИТЕЛЬНО
							td
						tr
							td#td_additionalinfo(colspan='2')
			#form_wrap(style='display:inline-block;')
				#message_wrap(style='width:180px;')
					#message(style='width:180px;')
				form#cform(method='post', name='cform', action='http://eupacking.ru/wp-content/themes/euroupacktheme/contacts/contact_form.php', style='margin-top: 20px; margin-right: 10px;')
					.contact_input_div
						span.conatct_input_head ваше имя
						br
						input#name.conatc_input(type='text', autocomplete='off', name='name')
					br
					.contact_input_div
						span.conatct_input_head e-mail
						br
						input#email.conatc_input(type='text', autocomplete='off', name='email')
					br
					.contact_input_div
						span.conatct_input_head телефон
						br
						input#phone.conatc_input(type='text', autocomplete='off', name='phone')
					br
					textarea#comments(name='comments', placeholder='Введите Ваш комментарий', style='display:none')
					input.submit-button(type='submit', value='отправить')
				form#save_list(method='post', action='http://eupacking.ru/wp-content/themes/euroupacktheme/php/excel.php', style='display:inline-block; margin-top: 10px;')
					input#table_value(name='table', value='', style='display:none;')
					input.submit-button(type='submit', value='сохранить')
		script(type='text/javascript').
		.box_preview
			h2 Конструктор упаковки
			span подбирайте параметры онлайн!
			br
			span#left_step
			span#right_step
			#constructor__canvas
			span#rotation
				img(src='http://eupacking.ru/wp-content/themes/euroupacktheme/img/rotation.png')
				|  покрутите коробку, чтобы лучше рассмотреть!
