footer.page__footer
	.page__wrapper
		.footer__left
			ul.nav.footer__nav
				li
					a(href='equipment.html') Оборудование
		a.footer__logo(href='#')
			img(src='images/footer-logo.png', alt='logo')
		.footer__right
			ul.nav.footer__nav
				li
					a(href='contacts.html') Контакты
include ./scripts.pug