header.page__header
	.page__wrapper
		.header__top
			a.header__logo(href='#')
				img(src='../images/header-logo.png', alt='logo')
		.header__bottom
			.header__left
				ul.nav.header__nav
					li
						a(href='about_company.html') О Компании
					li
						a(href='work_examples.html') Наши работы
			a.header__logo(href='index.html')
				img(src='images/header-logo-text.png', alt='logo')
			.header__right
				ul.nav.header__nav
					li
						a(href='capabilities.html') Возможности
					li
						a(href='design_office.html') Дизайн-бюро