
.btn{
  display: inline-block;
  font-weight: var(--fw-bold);
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 2px solid;
  border-color: transparent;
  text-decoration: none;
  font-size: 12px;
  padding: 10px 20px;
  border-radius: 0;
  transition: background-color var(--anim-dur) ease-out;
  &:focus{
  	outline: none;
  }
}

