
.section--callback{
	padding-top: 48px;
	padding-bottom: 40px;	
	& .page__wrapper{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	@media (--sm-viewport){
		& .page__wrapper{
			flex-direction: row;
			align-items: center;
			justify-content: center;
		}
	}
	@media (--md-viewport){

	}
	@media (--lg-viewport){

	}	
}

