
.constructor__wrapper{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	& .constructor__preview{
		order: 1;
	}
	& .form--constructor{
		order: 2;
	}
	@media (--sm-viewport){
			
	}
	@media (--md-viewport){
		
	}
	@media (--lg-viewport){
		flex-direction: row;
		& .constructor__preview{
			order: 0;
		}
		& .form--constructor{
			order: 0;
		}															
	}	
}

