
.tile--product{
	margin-bottom: 10px;
	& .tile__pic{
		width: 100%;
		max-width: 270px;
		border:  2px solid;
		border-color: var(--black);
		position: relative;
		background-color: var(--white);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		filter: grayscale(100%);
		transition: filter var(--anim-dur);
		margin-bottom: 30px;
		&:hover{
			filter: grayscale(0%);
		}
		&::before{
			content: '';
			display: block;
			padding-top: 100%;
		}
		& img{
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateX(-50%) translateY(-50%);
			display: block;
		}
	}
	& .tile__title{
		font-weight: var(--fw-bold);
		line-height: 1;
		color: var(--black);
	}	
}

