include ./mixins.pug
doctype html
html(lang="ru")
	+head()
	body.page
		.page__body
			include ./partials/header.pug
			main.page__main
				section.section.section--green-grad.section--person
					.page__wrapper
						.person__wrapper
							.person__pic
								img(src="images/person-1.png", alt="person-1")
							.person__text
								h3.header
									| Работайте 
									br
									| с профессионалами
								p
									| Здравствуйте, меня зовут Дмитрий Базаев, я — Директор по развитию <span class="text-nowrap">ООО «Евроупак Групп»</span>.
									br
									| Проведу для Вас небольшой анализ полиграфического рынка: я не претендую на истину в последней инстанции, ни в коем случае не хочу кого-то выставить в дурном свете, просто выражаю свою точку зрения.
				section.section.section--blog
					.page__wrapper
						.blog.blog--columns.blog--with-initial
							p
								| По большому счёту, вся упаковка делается из одних и тех же расходных материалов всем известных производителей. При этом компаниям необходимо выделяться на рынке, конкурировать между собой.
							p
								| Производители упаковки в такой ситуации поступают по-разному:
							ul
								li
									| Кто-то старается оптимизировать стоимость продукции за счет сокращения персонала. Стоимость получается меньше, но при таком подходе не избежать ошибок, вызванных человеческим фактором.
								li
									| Нередко осознано снижается качество используемых материалов. Удешевляя тем самым конечный продукт, производитель теряет в экологичности и потребительских качествах.
								li
									| Существуют типографии полного цикла, в штате которых есть дизайнеры и конструктора, но, как правило, себестоимость продукции этих площадок выше рынка, т.к. вознаграждение этих специалистов закладывается в цену Вашей упаковки, даже если большинство из этих операций Вам не нужно. Снижая уровень заработных плат, производитель теряет профессионализм команды, что также ведет к ошибкам.
								li
									| Достаточно старые площадки, начавшие свою деятельность более 15 лет назад, прошли этапы решения вышеописанных проблем и достаточно оптимизированы для производства качественной продукции под конкретного заказчика. Но пул их клиентов уже сложился, и при размещении заказа у них, как правило, приходится ждать производственный цикл как минимум в 45 дней . Ни о какой оперативности, тем более в случае форс-мажорных ситуаций, не может быть и речи.
							figure
								figcaption
									| Получается, что для клиента не остаётся вариантов: либо нет гарантии качества, либо неоправданно завышаются цены, либо приходится долго ждать.
							p
								| Чтобы решить эту проблему, была создана Группа Евроупак.
							.d-block
								h4.text-uppercase.font-weight-extra-bold Наша команда
								p
									| Над Вашим заказом будут трудиться профессионалы, каждый из которых работает на полиграфическом рынке не один год. Мы объединили в себе знания и опыт в каждом сегменте производства картонной упаковки.
							.d-block
								h4.text-uppercase.font-weight-extra-bold Работаем с нуля
								p
									| Мы можем взять Ваш проект на стадии идеи, разработать концепцию Вашего бренда, доработать дизайн упаковки так, чтобы качественно выделить Ваш продукт на полке.
							.d-block
								h4.text-uppercase.font-weight-extra-bold Профессиональное производство
								p
									| Ваша упаковка будет произведена на качественном, современном оборудовании с нашим профессиональным контролем на каждой стадии производства.
							.d-block
								h4.text-uppercase.font-weight-extra-bold Разумные цены
								p
									| Стоимость продукции остается рыночной, ведь, работая с нами, полиграфические комбинаты не закладывают в стоимость Вашей упаковки расходы на привлечение и предпечатную подготовку заказа. Они просто производят, что, собственно, и должны делать полиграфические площадки.
							.d-block
								h4.text-uppercase.font-weight-extra-bold Личная ответственность
								p
									| Все переговоры и контроль работы осуществляются соучредителями компании. Мы понимаем, что такое финансовая ответственность, ценим и уважаем наших партнеров и никогда не даем обещаний без 100% уверенности в том, что мы их выполним.
				section.section.section--slogan
					.page__wrapper
							| Если Вы хотите, чтобы Ваша упаковка была создана профессионалами — обратитесь в Группу Евроупак.
				
				#modalGallery.modal.modal--slider
					.modal__dialog
						.swiper-container.slider.slider--gallery-pic
							.swiper-wrapper
							.swiper-button-prev.slider__btn.slider__btn--prev
							.swiper-button-next.slider__btn.slider__btn--next
						.swiper-container.slider.slider--gallery-desc
							.swiper-wrapper
				include ./partials/slider.pug
				+slider(8, ' section--green')
				//-+slider(8, ' section--white')
				include ./partials/callback.pug
			include ./partials/footer.pug