include ./mixins.pug
doctype html
html(lang="ru")
	+head()
	body.page
		.page__body
			include ./partials/header.pug
			main.page__main
				section.section.section--green-grad.section--person
					.page__wrapper
						.person__wrapper
							.person__pic
								img(src="images/person-3.png", alt="person-3")
							.person__text
								h3.header
									| Уверенность в качестве
								p
									| Доброго времени суток, меня зовут Виталий Русанов, я — 
									br
									| Генеральный директор компании <span class="text-nowrap">ООО «Евроупак Групп»</span>.
									br
									| Я хотел бы рассказать Вам о возможностях оборудования, на котором мы производим упаковку.
				section.section.section--blog
					.page__wrapper
						.blog.blog--columns.blog--with-initial
							p
								| Не секрет, что качество упаковки на прямую зависит от трех факторов:
							ul
								li
									| оборудования, на котором она произведена;
								li
									| людей, которые работают на этом оборудовании;
								li
									| качества используемых материалов.
							.d-block
								h4.text-uppercase.font-weight-extra-bold Множество материалов
								p
									| Мы предлагаем Вам упаковку из различных материалов. Это макулатурный, целлюлозный и дизайнерский картоны, печать на пластике и самоклеящихся материалах.
								p
									| Для эксклюзивной продукции мы предлагаем Вам такие возможности как печать на металлизированном картоне и голографическую печать.
							.d-block
								h4.text-uppercase.font-weight-extra-bold Спектр печатных возможностей
								p
									| Печатное оборудование работает с использованием как обычных офсетных красок палитры CMYK и Pantone, так и УФ-красок для работы с металлизированным картоном и пластиком, с возможностью одновременного нанесения воднодисперсионного и ультрафиолетового лаков.
								p
									| Из возможностей дополнительной обработки мы предлагаем: ламинацию, тиснение, конгревное тиснение, трафаретное и twin-лакирование, автоматическую вклейку окошек.
							figure
								figcaption
									| Более 10 лет работая в сфере производства упаковки, мы детально изучили все возможности полиграфического оборудования и исходя из этого подбирали своих партнеров.
							.d-block
								h4.text-uppercase.font-weight-extra-bold Парк оборудования
								p
									| Наша упаковка производится на современном оборудовании марок: KBA, Heidelberg, Komori , Bobst.
								p
									| В данный момент мы сотрудничаем с тремя крупными полиграфическими площадками, оборудование которых позволяет решать любые поставленные задачи. Это количество обусловлено разнонаправленностью компаний-партнеров, т.к. даже самое современное оборудование определенной марки позволяет решать лишь определенный ряд задач.
							.d-block
								h4.text-uppercase.font-weight-extra-bold Постоянный контроль
								p
									| Во избежание ошибок, вызванных человеческим фактором, мы всегда присутствуем на всех этапах производства упаковки. Уровень нашего профессионализма позволяет нам вовремя предугадывать возможные отклонения от эталона и вносить корректировки еще на стадии подготовки к производственному процессу.
				section.section.section--slogan
					.page__wrapper
							| Работая с нами, Вы можете быть уверены в качестве Вашей упаковки!
				include ./partials/slider.pug
				include ./partials/callback.pug
			include ./partials/footer.pug