include ./mixins.pug
doctype html
html(lang="ru")
	+head()
	body.page
		.page__body
			include ./partials/header.pug
			main.page__main
				section.section.section--green-grad.section--person
					img(src="images/contacts.png", alt="contacts", data-bg='true', data-combine='true')
					.page__wrapper
						.person__wrapper
				section.section.section--blog
					.page__wrapper
						.blog.blog--columns
							h3.fs--50.mb-0
								| Контакты
							.d-block
								p
									| Звоните нам
								p
									a.fs-4(href="tel:+74965670259") +7 496 567-02-59
								p
									a.fs-4(href="tel:+79266703758") +7 926 670-37-58
							.d-block
								p
									| Пишите нам
								p
									a.fs-4(href="mailto:info@eupacking.ru") info@eupacking.ru
							.d-block
								p
									| Приезжаейте к нам
								p
									address.fs-4 141113, Россия, Московская область, Щелковский район, посёлок Краснознаменский, дом 7
							h3.fs--50.mb-0
								| Напишите нам
							form.form--feedback.mt-3.pb-5
								.row.form__row.mb-5
									.col-4
										label.form__label.d-block Ваше имя
										input.form__control(type="text")
									.col-4
										label.form__label.d-block E-mail
										input.form__control(type="text")
									.col-4
										label.form__label.d-block Телефон
										input.form__control(type="text")
								.row.form__row.mb-5
									.col-12
										label.form__label.d-block Текст сообщения
										textarea.form__control.w-100(placeholder="Введите Ваш комментарий", rows="6")
								.row.form__row
									.col-12
										input.btn.btn--green(type="submit", value="Отправить")
				section.section
					.map
						script(type="text/javascript", charset="utf-8", async="", src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=MclsuPX7616blb2iWsu8jG8A52QJaikJ&width=100%&height=400&lang=ru_RU&sourceType=constructor&scroll=true")
				include ./partials/callback.pug
			include ./partials/footer.pug