include ./mixins.pug
doctype html
html(lang="ru")
	+head()
	body.page
		.page__body
			include ./partials/header.pug
			main.page__main
				section.section.section--green-grad.section--person
					.page__wrapper
						.person__wrapper
							.person__pic
								img(src="../images/person-4.png", alt="person-4")
							.person__text
								h3.header
									| Продуманный дизайн
								h4.subheader
									| От идеи до корзины потребителя
								p
									| Здравствуйте, меня зовут Софья Кравецкая, я — Руководитель дизайн-бюро <span class="text-nowrap">ООО «Евроупак Групп»</span>.
									br
									| Хотела бы рассказать вам об особенностях разработки упаковки, которые помогают сделать конечный продукт успешным.
				section.section.section--blog
					.page__wrapper
						.blog.blog--columns.blog--with-initial
							p
								| 7 секунд требуется потребителю, чтобы обратить внимание на товар на полке, оценить его и сделать выбор. Именно столько времени есть у производителя на коммуникацию. Поэтому от правильности подхода к разработке упаковки во многом зависит коммерческий успех бренда.
							p
								| При этом создание запоминающегося и соответствующего позиционированию дизайна — лишь одна из задач, и часто дизайн-студии ограничиваются только ей. Дальнейшая судьба макета оказывается за скобками, так как дизайнер и непосредственный исполнитель на производстве относятся к разным организациям. Как раз на этом этапе часто возникают трудности: несоответствие макета особенностям материалов и технологии печати, необходимость изменения конструкции, мелкие доработки. Всё это отнимает время и оборачивается дополнительными тратами.
							p
								| Мы считаем, что успешная реализация любой творческой идеи невозможна без глубокой компетенции в производственных вопросах. Мы разрабатываем эффективный и функциональный дизайн упаковки и гарантируем правильное его воплощение с учётом выбранных материалов и технологий.
							figure
								figcaption
									| Дизайн-бюро Группы Евроупак работает непосредственно с производственными площадками и имеет возможность создать непрерывный цикл: от идеи до финального тиража.
							p
								| Благодаря многолетнему опыту в разработке дизайна упаковки и его полиграфического исполнения, мы гарантируем:
							.d-block
								h4.text-uppercase.font-weight-extra-bold Узнаваемость
								p
									| Ваш продукт выделяется среди множества конкурентов, запоминается и помогает потребителю сделать выбор в вашу пользу.
							.d-block
								h4.text-uppercase.font-weight-extra-bold Функциональность
								p
									| Ваш продукт приятно и удобно использовать, легко транспортировать и размещать на торговой площади.
							.d-block
								h4.text-uppercase.font-weight-extra-bold Ясность
								p
									| Упаковка вашего продукта содержит четкое, простое и явное послание потребителям, облегчая принятие решения.
							.d-block
								h4.text-uppercase.font-weight-extra-bold Эффективность
								p
									| Упаковка вашего продукта повышает конкурентоспособность бренда и служит рекламой сама по себе, значительно сокращая расходы на дополнительную коммуникацию.
				section.section.section--slogan
					.page__wrapper
							.text-center
								| Приятно взять в руки!
				include ./partials/slider.pug
				include ./partials/callback.pug
			include ./partials/footer.pug