include ./mixins.pug
doctype html
html(lang="ru")
	+head()
	body.page
		.page__body
			include ./partials/header.pug
			main.page__main
				section.section.section--green-grad.section--person
					img(src="images/equipment.png", alt="equipment", data-bg='true', data-combine='true')
					.page__wrapper
						.person__wrapper
				section.section.section--blog
					.page__wrapper
						.blog.blog--columns
							h3.fs--50.mb-0.n-mt-5
								| Парк оборудования
							.d-block
								h4.text-uppercase.font-weight-extra-bold Печатные машины:
								ul
									li
										| KOMORI Lithrone S640+C
									li
										| KOMORI Lithrone S40
									li
										| КВА Рапида 105-7+L CX ALV2 450 UV
									li
										| КВА Рапида-105U 6+L
							.d-block
								h4.font-weight-extra-bold.mb-0 Офсетная печать:
								div максимальная площадь печати 720х1040 см,
								div минимальный размер листа 420х470 см;
							.d-block
								h4.font-weight-extra-bold.mb-0 УФ печать:
								div максимальная площадь печати 720х1040 см,
								div минимальный размер листа 420х470 см;
							.d-block.mt-3
								span.font-weight-extra-bold Сплошная и выборочная лакировка 
								span (нанесение различных видов лака: 
								div офсетного, водно-дисперсионного, матового, глянцевого, а также УФ-лака):
								div максимальный формат лакировки 708х1020 см.
							.d-block
								h4.text-uppercase.font-weight-extra-bold.mb-0 Автоматические прессы для тиснения и высечки:
								ul
									li YAWA EF-106
									li YAWA TYM-1050Y
									li YAWA EC-106ER
									li YAWA EC-106E
									li BRAUSSE-1050EF
									li BOBST EXPERTCUT 106
							p.mt-7
								span.font-weight-extra-bold Вырубка коробок 
								| различной степени сложности.
							.d-block
								h4.text-uppercase.font-weight-extra-bold.mb-0 Фальцевально-склеивающие линии:
								ul
									li Paktek GM650
									li BOBST DOMINO 110M
									li SBL TS-650W
									li SBL TS-1000NMWS
									li SBL TS-1000W
							p
								span.font-weight-extra-bold Склейка коробок 
								| до 6-ти точек.
							.d-block
								h4.text-uppercase.font-weight-extra-bold.mb-0 Кашировальная машина:
								ul
									li SBL ST-1100L
							.d-block
								h4.text-uppercase.font-weight-extra-bold.mb-0 Автомат для вклейки окошек:
								ul
									li ZKT750B
				section.section.section--slogan
					.page__wrapper
							| Работая с нами, Вы можете быть уверены в качестве Вашей упаковки!
				include ./partials/slider.pug
				include ./partials/callback.pug
			include ./partials/footer.pug