include ./mixins.pug
doctype html
html(lang="ru")
	+head()
	body.page
		.page__body
			header.page__header
				.page__wrapper
					.header__top
						a.header__logo(href='#')
							img(src='../images/header-logo.png', alt='logo')
					.header__bottom
						.header__left
							ul.nav.header__nav
								li
									a(href='#') О Компании
								li
									a(href='#') Наши работы
						a.header__logo(href='#')
							img(src='images/header-logo-text.png', alt='logo')
						.header__right
							ul.nav.header__nav
								li
									a(href='#') Возможности
								li
									a(href='#') Дизайн-бюро
			main.page__main
				section.section.section--green-grad
					.page__wrapper
						br
						br
						br
						br
						br
						p конструктор упаковки
						br
						br
						br
						br
						br
				section.section
					.page__wrapper
						h2.fs--38.mt--0.mb--26.text--center Производство упаковки на заказ
						ul.list.list--flex
							li.list__item
								h4.item__header Качество
								.item__body
									p
										| Специалисты Группы Евроупак более 10 лет занимаются изготовлением и продажи упаковки из картона. Мы делаем коробки любой формы и размера на заказ — от небольших эксклюзивных партий до многотысячных в едином фирменном стиле. Вся наша продукция изготавливается под постоянным, профессиональным контролем. Мы ценим свою репутацию и репутацию наших партнеров.
							li.list__item
								h4.item__header Возможности
								.item__body
									p
										| Мы изготавливаем упаковку с использованием большинства современных технологий: офсетная печать, печать на металлизированном картоне, каширование, нанесением УФ, трафаретных и twin-лаков, голографическую печать. Мы предоставляем весь спектр услуг по производству упаковки от разработки дизайна и конструкции до профессионального сопровождения на каждом этапе производственного процесса. Мы экономим Ваше время и средства.
							li.list__item
								h4.item__header Стоимость
								.item__body
									p
										| Используя ресурсы Группы Евроупак, Вы получаете неизменно высокое качество услуг по их реальной рыночной стоимости. Наши площадки производят продукцию, не включая расходы на привлечение и предпечатную подготовку заказа, что позволяет сохранить привлекательный уровень цен конечной продукции.
							li.list__item
								h4.item__header Гарантии
								.item__body
									p
										| Мы производим упаковку в соответствии с международными стандартами качества, используя только лучшие материалы. Обязательно предоставляем тестовую партию для испытания на Вашем оборудовании во избежание рисков.
				section.section.section--green.section--tiles
					.page__wrapper
						.tiles
							a.tile(href="#")
								.tile__icon
									img(src="../images/icon-case.png", alt="case")
								.tile__title Экспертная поддержка
								.tile__text
									ul
										li проведем анализ Вашего продукта
										li предложим оптимальные решения (материал, конструкция, исполнение)
										li предоставим образцы
										li проведем профессиональную консультацию
							a.tile(href="#")
								.tile__icon
									img(src="../images/icon-list.png", alt="list")
								.tile__title Конструкция и дизайн
								.tile__text
									ul
										li разработаем эффективную конструкцию с учетом логистических процессов вашего бизнеса и техничеких характеристик продукта
										li создадим оригинальное внешнее оформление, подчеркивая особенности вашего бренда		
							a.tile(href="#")
								.tile__icon
									img(src="../images/icon-pencil.png", alt="pencil")
								.tile__title Почему выбирают нас
								.tile__text
									ul
										li профессиональный подход на каждом этапе
										li оперативность при решении любых задач
										li адекватная стоимость услуг
										li оптимизация затрат и снижение рисков, связанных с упаковкой
										li и просто, с нами удобно работать!
				section.section.section--callback
					.page__wrapper
						a.callback__phone(href="tel:+74965670259") + 7 496 567-02-59
						span.callback__text или
						button.btn.btn--green Заказать звонок
			footer.page__footer
				.page__wrapper
					.footer__left
						ul.nav.footer__nav
							li
								a(href='#') Оборудование
					a.footer__logo(href='#')
						img(src='images/footer-logo.png', alt='logo')
					.footer__right
						ul.nav.footer__nav
							li
								a(href='#') Контакты
			include ./partials/scripts.pug