include ./mixins.pug
doctype html
html(lang="ru")
	+head()
	body.page
		.page__body
			include ./partials/header.pug
			main.page__main
				section.section.section--green-grad.section--person
					.page__wrapper
						.person__wrapper
							.person__pic
								img(src="images/person-2.png", alt="person-2")
							.person__text
								h2.header
									| Индивидуальный подход
								h3.subheader
									| К каждому проекту
								p
									| Добрый день! Меня зовут Яна Алиева, я — Коммерческий директор <span class="text-nowrap">ООО «Евроупак Групп»</span>.
									br
									| Хочу познакомить Вас с примерами упаковок, которые могут быть реализованы нашей компанией.
				section.section.section--blog
					.page__wrapper
						.blog.blog--columns.blog--with-initial
							p
								| Именно упаковка является лицом Вашего продукта, и профессиональный подход к каждому ее элементу — это залог успешных продаж Вашей продукции.
							p
								| При создании упаковки необходимо учесть целый ряд нюансов:
							.d-block
								h6.text-uppercase.font-weight-extra-bold Правильный подбор сырья
								p
									| Существует целый ряд особенностей той или иной марки картона или пластика. Мы поможем Вам подобрать оптимальное сырьевое решение именно для Вашего продукта, что позволит сбалансировать его по показателю цена — качество.
							.d-block
								h6.text-uppercase.font-weight-extra-bold Конструкция упаковки
								p
									| Мы поможем Вам подобрать оптимальную конструкцию, чтобы подчеркнуть индивидуальность Вашего продукта, выделить его из существующего на полках ассортимента, а также адаптируем его к Вашей производственной линии.
							.d-block
								h6.text-uppercase.font-weight-extra-bold Общая концепция и дизайн бренда
								p
									| Наши дизайнеры создадут именно тот эксклюзивный вид Вашего продукта, который позволит качественно выделиться из существующего ассортимента. И, что немаловажно, сделают это с учетом подобранных нами материалов и нюансов последующего печатного и постпечатных процессов.
								p
									| Все это мы обсуждаем с нашими будущими партнерами на стадии переговоров. Наша миссия — это индивидуальный подход к каждому заказчику. Благодаря гибкости нашей компании, мы можем сделать выгодное предложение, исходя из Ваших взглядов и потребностей. Мы хотим сделать Вашу упаковку узнаваемой, подчеркнуть преимущества именно Вашего бренда.
								p
									| Неважно, является ли Ваша компания новичком на рынке или успешно работает не один год, мы открыты для общения, и уверены, что путем диалога, мы придем именно к той оптимальной схеме сотрудничества, которая будет взаимовыгодна для наших компаний и продлится долгие годы.
				section.section.section--slogan
					.page__wrapper
							| Доверив нам Ваш проект, Вы можете быть уверены, что получите именно то, что Вы хотели бы увидеть!
				include ./partials/slider.pug
				+slider(8, ' section--green')
				+slider(8, ' section--white')
				include ./partials/callback.pug
			include ./partials/footer.pug