
.list--flex{
	width: 100%;
	padding-left: 0;
	list-style: none;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
	flex-wrap: wrap;
	font-size: 15px;
	margin-top: 0;
	margin-bottom: 0;
	& .list__item{
		flex-basis: 100%;
		margin-bottom: 30px;
	}
	& .item__header{
		font-size: 16px;
		text-transform: uppercase;
		margin-top: 0;
		margin-bottom: 8px;
		font-weight: var(--fw-extra-bold);
	}
	& .item__body{
		margin-top: 0;
		margin-bottom: 0;
		line-height: 1.7;
		&>*:first-child{
			margin-top: 0;
		}
		&>*:last-child{
			margin-bottom: 0;
		}		
	}
	@media (--sm-viewport){
			
	}
	@media (--md-viewport){
		& .list__item{
			flex-basis: 50%;
			margin-bottom: 30px;
			&:nth-of-type(2n-1){
				padding-right: 30px;
			}
			&:nth-of-type(2n){
				padding-left: 30px;
			}
		}					
	}
	@media (--lg-viewport){
										
	}	
}

