
.modal{
	position: fixed;
	z-index: 5;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: rgba(255, 255, 255, 0.7);
	display: none;
	align-items: center;
	justify-content: center;
	overflow:  auto;
	padding: var(--page-gap);
}

