
.slider--products{
	& .slider__btn-wrapper{
		position: absolute;
		top: 0;
		width: 100%;
		display: flex;
	}
	& .slider__stub{/*заглушки слайдов для правильного позиицонирования стрелок слайдера*/
		display: none;
		width: 100%;
		max-width: 270px;
		&::before{
			content: '';
			display: block;
			padding-top: 100%;
		}
		&:nth-child(1){
			display: block;
		}		
	}
	@media (--sm-viewport){
		& .slider__stub{
			&:nth-child(1){
				margin-right: 30px;
			}
			&:nth-child(2){
				display: block;
			}
		}			
	}
	@media (--md-viewport){
		& .slider__stub{
			&:nth-child(2){
				margin-right: 30px;
			}
			&:nth-child(3){
				display: block;
			}
		}										
	}
	@media (--lg-viewport){
		& .slider__stub{
			&:nth-child(3){
				margin-right: 30px;
			}
			&:nth-child(4){
				display: block;
			}
		}												
	}	
	@media (--xl-viewport){
										
	}	
}

