
.person__wrapper{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: space-between;
	min-height: 200px;
	&>*{
		flex-basis: calc(50% - 15px);
	}
	& .person__pic{
		order:  2;
	}	
	& .person__text{
		order:  1;
	}	
	@media (--sm-viewport){
		min-height: 250px;	
	}
	@media (--md-viewport){
		min-height: 300px;	
		flex-direction: row;
		overflow: hidden;
		& .person__pic{
			order:  1;
			margin-top: -20px;
		}	
		& .person__text{
			order:  2;
		}							
	}
	@media (--lg-viewport){
		min-height: 345px;								
	}	
}

