
.page{
	display: flex; /*fix бага ie11 с min-height:100%*/
	flex-direction: column;
	align-items: stretch;
	justify-content: flex-start;
	background-color: var(--white);
	overflow-y: scroll;
	overflow-x: auto;
	min-width: var(--page-min);
	@media (--pre-medium-viewport){
			
	}
	@media (--medium-viewport){
								
	}
	@media (--large-viewport){
										
	}	
}

/*helper*/
/*
.page{
	&::after{
		content: '';
		display: block;
		position: fixed;
		width: 1px;
		height: 100vh;
		background: red;
		left: 50%;
		top: 0;
	}	
}
*/