
.blog--columns{
	column-count: 1;
	column-gap: 0;
	column-fill: balance;
	&>*{
		break-inside: avoid-column;
		&:first-child{
			margin-top: 0;
		}
	}
	@media (--sm-viewport){
			
	}
	@media (--md-viewport){
		column-count: 2;
		column-gap: 35px;								
	}
	@media (--lg-viewport){
										
	}	
}

