
.header__nav{
	color: var(--green_879);
	& li{
		&:hover,
		&.current-menu-item{
			transform: translateY(50%);
			transform: translateY( -48% );
			color: var(--black);
			& a{
				border-bottom: 2px solid;
				border-color: var(--black);
			}		
		}
	}		
}

