
.footer__logo{
	flex-shrink: 0;
	& img{
		display: block;
	}
	@media (--sm-viewport){
			
	}
	@media (--md-viewport){
		margin-left: 45px;
		margin-right: 45px;	
	}
	@media (--lg-viewport){
										
	}		
}

