
.menu--mobile{
	display: none;
	position: fixed;
	top: -100vh;
	left: 0;
	width: 100%;
	background-color: var(--white);
	height: 100vh;
	overflow-x: hidden;
	overflow-y: auto;
	padding-left: var(--page-gap);
	padding-right: var(--page-gap);
	padding-top: 60px;
	padding-bottom: 60px;
	display: flex;
	transition: top var(--anim-dur);
	@nest .menu--open & {
		display: block;
		top: 0;
	}
	& .menu__wrapper{
		max-width: 250px;
		margin: 0 auto;
	}
	& .header__nav{
		flex-direction: column;
		align-items: flex-start;
		&:last-of-type{
			margin-bottom: 30px;
		}
		& li{
			margin-left: 0;
			margin-right: 0;
		}
		& a{
			padding: 0;
		}
	}
	& li{
		& a{
			border-bottom: 2px solid;
			border-color: transparent;
		}		
		&:hover,
		&.current-menu-item{	
			& a{
				border-color: var(--black);
			}		
		}
	}
	@media (--sm-viewport){
			
	}
	@media (--md-viewport){
								
	}
	@media (--lg-viewport){
		display: none !important;									
	}		
}

