
:root{
	/*Variables*/
	--wrapper-max: 1170px; 
	--page-gap: 15px;  
	--page-min: 992px;  
	--scrollbar-width:  0px;
	--anim-dur:  0.4s;


	/*Colors*/
	--black: #000000;
	--white: #ffffff;

	--gray_272: 	#27282d;
	--green_879: 	#879999;

	/*Fonts*/
	--fw-thin: 100;
	--fw-extra-light: 200;
	--fw-light: 300;
	--fw-normal: 400;
	--fw-medium: 500;
	--fw-semi-bold: 600;
	--fw-bold: 700;
	--fw-extra-bold: 800;
	--fw-black: 900;
	
}


@custom-media --medium-viewport (width > 1023px);
@custom-media --large-viewport (width > 1279px);
@custom-media --header-hlp-viewport (width > 1919px);


@custom-selector :--all-headers h1, h2, h3, h4, h5, h6;
@custom-selector :--table-cell td, th;

/* FONTS */

@font-face {
    font-family: CRC55;
    src: 	url('../fonts/CRC55/CRC55.otf');
    font-style: normal;
    font-weight: var(--fw-normal);
}

@font-face {
    font-family: CRC65;
    src: 	url('../fonts/CRC65/CRC65.otf');
    font-style: normal;
    font-weight: var(--fw-normal);
}

@font-face {
    font-family: CRC75;
    src: 	url('../fonts/CRC75/CRC75.otf');
    font-style: normal;
    font-weight: var(--fw-normal);
}

@font-face {
    font-family: Intro;
    src: 	url('../fonts/Intro/Intro.otf');
    font-style: normal;
    font-weight: var(--fw-normal);
}

/* OTHER */

*{
	box-sizing: border-box;
	max-width: 100%;
	word-break: break-word;
	&:matches(:active,:focus){
		
	}
	&:visited{
		
	}
}

html,
body{
	width: 100%;
	min-height: 100%;
	margin:  0;
	padding: 0;
	font-family: CRC55, sans-serif;
	font-size: 16px;
	line-height: 1.4;
	color: var(--black);
	font-weight: var(--fw-normal);
}


a{
	color: currentcolor;
}

img{
	max-width: 100%;
}

@supports(object-fit: contain){
	img{
		object-fit: contain;
	}
}

:--all-headers{
	font-weight: var(--fw-bold);
}

h1{		
	@media (--medium-viewport){

	}
	@media (--large-viewport){

	}	
}
h2{	
	@media (--medium-viewport){

	}
	@media (--large-viewport){
	
	}
}
h3{

	@media (--medium-viewport){

	}
	@media (--large-viewport){

	}
}
h4{
	@media (--medium-viewport){

	}	
	@media (--large-viewport){

	}	
}
h5{
	@media (--medium-viewport){

	}
	@media (--large-viewport){
	}	
}
h6{
	font-size: 14px;
	@media (--medium-viewport){

	}
	@media (--large-viewport){

	}
}





