
.fw{

}


.fw--thin{
	font-weight: var(--fw-thin);
}

.fw--extra-light{
	font-weight: var(--fw-extra-light);
}

.fw--light{
	font-weight: var(--fw-light);
}

.fw--normal{
	font-weight: var(--fw-normal);
}

.fw--medium{
	font-weight: var(--fw-medium);
}

.fw--semi-bold{
	font-weight: var(--fw-semi-bold);
}

.fw--bold{
	font-weight: var(--fw-bold);
}

.fw--extra-bold{
	font-weight: var(--fw-extra-bold);
}

.fw--black{
	font-weight: var(--fw-black);
}
