
.callback__text{
	font-size: 20px;
	font-weight: var(--fw-extra-bold);
	margin-bottom: 5px;
	@media (--sm-viewport){
		margin-right: 35px;
		margin-bottom: 0px;
	}
	@media (--md-viewport){

	}
	@media (--lg-viewport){

	}	
}

