
.btn--plus{
	padding:  0;
	width: 30px;
	height: 30px;
	background-color: var(--black);
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAQMAAAAlPW0iAAAABlBMVEUAAAD///+l2Z/dAAAAAXRSTlMAQObYZgAAABJJREFUCNdjYGzAgv7/ByKsUgAFtgsLydPr4wAAAABJRU5ErkJggg==');
	background-position: center; 
	background-repeat: no-repeat; 
}

