
.blog{
	& figure{
		margin:  0;
		padding: 10px 15px;
		border: 2px solid;
		border-color: var(--black);
		background-color: var(--green_c8d);
	}
	& figcaption{
	
	}
	& p{
		margin-top: 0.75rem;
		margin-bottom: 0.75rem;
	}
	& ul{
		padding-left: 20px;
		& li{
			margin-bottom: 10px;
		}
	}
}

