
.page__footer{
	width: 100%;
	background-color: var(--gray_272);	
	&>.page__wrapper{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding-top: 30px;
		padding-bottom: 30px;		
	}
	& .footer__left,
	& .footer__right{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;		
		flex-grow: 1;
		width: 100%;	
	}	
	& .footer__left{
		justify-content: flex-end;
		order:  1;		
	}
	& .footer__right{
		justify-content: flex-start;		
		order:  2;		
	}
	& .footer__logo{
		order:  3;
	}
	& .nav{
		flex-direction: column;
		& li{
			margin-bottom: 15px;
		}
	}
	@media (--sm-viewport){
			
	}
	@media (--md-viewport){
		&>.page__wrapper{
			flex-direction: row;	
		}
		& .footer__left,
		& .footer__right{
			margin-right: 15px;
		}
		& .nav{
			align-items: flex-start;
		}				
	}
	@media (--lg-viewport){
		& .nav{
			flex-direction: row;
			align-items: center;
			& li{
				margin-bottom: 0;
			}			
		}
		& .footer__left,
		& .footer__right{
			flex-direction: row;
			margin-right: 0;
			max-width: calc(50% - 38px); /* -106/2 - 65 px*/	
		}		
		& .footer__left{
			order:  initial;
		}										
		& .footer__right{
			order:  initial;
		}										
		& .footer__logo{
			order:  initial;
		}																		
	}				
}

