
.page__footer{
	width: 100%;
	background-color: var(--gray_272);	
	&>.page__wrapper{
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		padding-top: 30px;
		padding-bottom: 30px;		
	}
	& .footer__left,
	& .footer__right{
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;		
		flex-grow: 1;
		width: 100%;
		max-width: calc(50% - 38px); /* -106/2 - 65 px*/	
	}	
	& .footer__left{
		justify-content: flex-end;		
	}
	& .footer__right{
		justify-content: flex-start;		
	}		
}

