
.control--radio{
	&.control--custom{
		padding-left: 30px;
		& .control__input{

		}
		& .control__label{
			&::before,
			&::after{
				top: calc(0.5em - 11px);
				width: 19px;
				height: 19px;
				border: 2px solid;
				border-color: var(--black);
				background-color: var(--white);
				border-radius: 50%;
			}
			&::before{

			}
			&::after{
				background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQBAMAAADt3eJSAAAAG1BMVEUAAACHmZmHmZmHmZmHmZmHmZmHmZmHmZmHmZm21WnIAAAACHRSTlMA3mEjOgGamZX7mBAAAABESURBVAjXY0ACrCamEIZiR6MCiGbv6OhoBzE0OoAAJCQBYggwMDB3gEAzAwMLmNGCEEGoQegKA9JtAXCTwcDEgAEbAAARKBs9CxE1mwAAAABJRU5ErkJggg==');
				background-position: center;
				background-repeat: no-repeat;
			}
		}
	}
}