
.btn--menu{
	cursor: pointer;
	padding:  0;
	width: 30px;
	height: 30px;
	background-color: var(--black);
	background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.459 16.014l8.239-8.194a.992.992 0 0 0 0-1.414 1.016 1.016 0 0 0-1.428 0l-8.232 8.187L7.73 6.284a1.009 1.009 0 0 0-1.428 0 1.015 1.015 0 0 0 0 1.432l8.302 8.303-8.332 8.286a.994.994 0 0 0 0 1.414 1.016 1.016 0 0 0 1.428 0l8.325-8.279 8.275 8.276a1.009 1.009 0 0 0 1.428 0 1.015 1.015 0 0 0 0-1.432l-8.269-8.27z' fill='%23fff'/%3E%3C/svg%3E%0A"); 
	background-position: center; 
	background-repeat: no-repeat; 
	background-size: 22px;
	@nest .menu--open & {
		background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 18 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 12h18v-2H0v2zm0-5h18V5H0v2zm0-7v2h18V0H0z' fill='%23fff' fill-rule='evenodd'/%3E%3C/svg%3E%0A");
		background-size: 18px;
	}
}

